@page
@model CreateRoom
@{
    ViewData["Title"] = "Отправить комментарий";
}
<br>
<br>
<br>
<br>
<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Заполните форму.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" name="message" type ="text"class="form-control" aria-required="true"/>
                <input type="submit" class="w-100 btn btn-lg btn-primary" value="Отправить"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}