@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Регистрация";
}
<br>
<br>
<br>
<br>
<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Привяжите ваш аккаунт @Model.ProviderDisplayName.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Вы успешно аутенцифицировались с <strong>@Model.ProviderDisplayName</strong>.
    Пожалуйста, введите адрес электронной почты для этого сайта ниже и нажмите кнопку Регистрация, чтобы завершить
    вход в систему.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Подтверждение" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
