@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}
<br>
<br>
<br>
<br>
<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Пожалуйста, <a asp-page="./Login">нажмите здесь, чтобы войти в систему</a>.
</p>
