@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Мод разработкиe</h3>
<p>
    Переключение на <strong>Разработка</strong> среда отображает подробную информацию о возникшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите параметр <strong>Разработка</strong> окружение, установив <strong>ASPNETCORE_ENVIRONMENT</strong> переменную окружения на <strong>Разработка</strong>
    и перезапустить приложение.
</p>
