@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}
<div class="text-center" style="width:960px; align-content:center; margin-left:160px">
    <br> <br> <br> <br>
    <h class="display-4">Добро пожаловать в блог ADVANTURE</h>
    
    <p align="left">
        <br>Если вы планируете совершить поход к вулкану Акатенанго в Гватемале, то этот блог для вас! Здесь я расскажу, как забронировать и подготовиться к походу, а также о его сложности и о том, чего ожидать!
    </p>  
    <p>
        <img src="https://destinationlesstravel.com/wp-content/uploads/2020/07/The-Fuego-Volcano-960x640.jpg.webp"></img>
    </p>
    <p align="left">
        Поход к вулкану Акатенанго является одной из самых известных достопримечательностей Гватемалы и обязательной остановкой на вашем  маршруте путешествия по Гватемале . Это дает тем, кто достаточно смел, чтобы справиться с низкими температурами и труднопроходимой местностью, возможность с удивлением смотреть на вулкан Фуэго, когда он извергает расплавленную лаву и пепел из своего кратера.
    </p>
    <p align="left">
        Вулкан Акатенанго находится всего в 2,5 километрах через долину от вулкана Фуэго и предлагает лучшее место в доме для этой уникальной возможности!
    </p>
    <p align="left">
        Поход на вулкан Акатенанго был одним из лучших впечатлений во всей Центральной Америке! К сожалению, многие люди воздерживаются от этого похода из-за слухов о его сложности.
    </p>
    <p align="left">
        И правда в том, что это нелегкий поход.
    </p>
    <p align="left">
        Но, если вы готовы, я не верю, что восхождение на вершину Акатенанго так уж сложно — и это опыт, который вы не должны пропустить!
    </p>
    <p align="left">
        Далее я делюсь всей информацией, которую вам нужно знать о походе на вулкан Акатенанго в Гватемале, чтобы быть уверенным, что вы сможете подготовиться и насладиться этим опытом так же, как и я!
    </p>
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/xUMkdZE7Q-Y"
            frameborder="0"
            allowfullscreen>
        \
    </iframe>
</div>
