@page
@model Rovie.Pages.MyWayModel
@{
    ViewData["Title"] = "Мой путь";
}

<div class="text-center" style="width:960px; align-content:center; margin-left:160px">
    <br> <br> <br> <br>
    <h class="display-4">Чего ожидать от ночного похода к вулкану Акатенанго</h>
    <p></p> 
    <p>
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/IMG_20171003_151822-1-1092x667-1-1024x625.jpg.webp"></img>
    </p>
    <p align="center"><em>
            Вид на рассвете потрясающий!
        </em>
    </p>
    <p align="left">
        Все еще хотите узнать больше о походах на вулкан Акатенанго, особенно о ночных турах? Что ж, вот как прошел наш опыт, а также точный маршрут, так что вы тоже знаете, чего ожидать!
    </p>
    <p align="left">
        <b>Прибытие в туристический офис – День 1 (7:00)</b>
    </p>
    <p align="left">
        Вам нужно будет добраться до туристического офиса по вашему выбору, если вы забронировали тур. Наш был с OX Expeditions , и они расположены в самом сердце Антигуа . Здесь они предоставили нам все наше снаряжение, включая перчатки, шапки и многое другое. Если вам нужен рюкзак, спросите, можете ли вы забрать его накануне, чтобы прибыть упакованным и готовым.
    </p>
    <p align="left">
        <b>Завтрак перед походом (8:00)</b>
    </p>
    <p align="left">
        Тур, который мы сделали, включал завтрак в день тура. Ожидайте большой гватемальский завтрак из яиц, бекона, бобов, кофе и помидоров.
    </p>
    <p align="left">
        <b>От Антигуа до Акатенанго (9:00)</b>
    </p>
    <p align="left">
        Наше путешествие к базе Акатенанго началось в 9 утра с места завтрака. Почти все ночные туры в Акатенанго начинаются в это время либо из вашего отеля, либо из ресторана (если ваш тур включает завтрак).
    </p>
    <p align="left">
        Как только мы запрыгнули в автобус, нас представили нашей группе. Мы познакомились друг с другом во время часовой поездки на автобусе от Антигуа до базы Акатенанго. Наша группа состояла из 13 человек, включая наших гидов. Наша группа была молодой, взволнованной и немного сумасшедшей!
    </p>
    <p align="left">
        По пути они делают остановку, чтобы забрать последние припасы. Не забудьте взять батарейки для налобного фонарика и воду, если вам нужно больше.
    </p>
    <p align="left">
        <b>Начало тропы (10:00)</b>
    </p>
    <p align="left">
        После короткой поездки мы прибыли к основанию вулкана и началу тропы. Когда двери автобуса открылись, к нам подошли местные жители, которые брали напрокат туристические палки, шапочки/колпаки, перчатки и продавали все, от выпивки до зефира.
    </p>
    <p align="left">
        Семьи, населявшие окрестности, зарабатывали на жизнь за счет этих небольших продаж и сдачи в аренду. Наша группа арендовала в общей сложности 8 клюшек, 2 пары перчаток и шапочку. Эти продажи составили всего 10 долларов США, однако для семей это было огромной суммой. Дети улыбались от уха до уха, а некоторые практиковались в небольшом количестве английского, который они знали, выкрикивая общие фразы, прыгая от смеха.
    </p>
    <p align="left">
        На базе Акатенанго можно купить любые горящие вещи или арендовать снаряжение у местных жителей. Все туристические группы останавливаются здесь, так как здесь начинается тропа.
    </p>
    <p align="left">
        <b>Поход в Акатенанго (с 10:15 до 14:00)</b>
    </p>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0240-1.jpg.webp"></img>
    </p>
    <p align="center">
        <em>
            Просто наслаждаемся одним из наших немногих перерывов на отдых на тропе.
        </em>
    </p>
    <p align="left">
        Начало подъема было крутым. Мы прошли через местные кукурузные фермы, двигаясь маленькими шажками по скользкому черному вулканическому песку, оставшемуся после предыдущих извержений.
    </p>
    <p align="left">
        Чтобы добраться до первого места отдыха, потребовалось чуть более 30 минут, и хотя это было сложно, вся группа справилась без особых проблем. Самым сложным в первой части похода было удержаться на ногах, когда я боролся со скользким песком и крутым уклоном.
    </p>
    <p align="left">
        Вот тут-то и пригодились походные палки, которые я взял напрокат у местных продавцов. Они давали небольшое сцепление, необходимое для того, чтобы переместить вес моего большого рюкзака вперед и предотвратить тяжелое падение. Я настоятельно рекомендую использовать туристические палки или взять напрокат палки, так как это значительно облегчит эту часть похода!
    </p>
    <p align="left">
        После нашего первого перерыва на отдых ландшафт вокруг нас начал меняться, и местные кукурузные фермы исчезли, уступив место красивому облачному лесу. Лес был заполнен большими деревьями, покрытыми мхом, а облака, которые давали нам прохладный влажный воздух, уменьшали мое зрение примерно до 10 метров.
    </p>
    <p align="left">
        К обеду влажный облачный лес медленно подошел к концу, и нас охватила новая обстановка. Высокие сосны заполнили склон горы, земля стала сухой, и влажность исчезла. Погода держалась, хотя темные тучи все еще держались над головой. Мы шли пешком уже 3 часа, а до нашего лагеря оставалось всего 1 час. Мы сократили наши перерывы в надежде победить дождь.
    </p>
    <p align="left">
        От подножия Акатенанго нашей группе потребовалось 4 часа упорного пешего пути, чтобы добраться до нашего лагеря. Наша группа была быстрой, так как большинство групп занимает до 6-8 часов (помните, вы настолько сильны, насколько ваше самое слабое звено!) У нас было четыре перерыва примерно по 10 минут и один 30-минутный перерыв на обед.
    </p>
    <p align="left">
        Поход ВСЕ в гору. Первая половина сложнее, чем вторая половина, но обе заставят ваше сердце биться чаще. Но ни в коем случае не управляемым. Просто не торопитесь, особенно если вы не привыкли к высоте, и все будет в порядке.
    </p>
    <p align="left">
        <b>Прибытие в лагерь (около 14:00)</b>
    </p>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0261.jpg.webp"></img>
    </p>
    <p align="center">
        <em>
            Сидим у костра в базовом лагере.
        </em>
    </p>
    <p align="left">
        Мы прибыли в базовый лагерь около 15:00 и просто болтались у костра, ожидая, когда рассеются облака, чтобы увидеть вулкан Фуэго.
    </p>
    <p align="left">
        Наш лагерь располагался на большой плоской террасе, созданной руками человека. Он опирался на два больших ствола дерева, наполовину вкопанных в землю, которые стояли вертикально на каждом конце. Еще два были расположены горизонтально, и оба образовывали большую подпорную стену, которая удерживала вулканический песок от эрозии.
    </p>
    <p align="left">
        Четыре небольшие палатки уже были установлены и ждали нас на террасе. Это были старые палатки, поверх которых были накинуты пластиковые листы. Мы забронировали тур, который включал в себя предварительно установленные палатки и матрасы, которые значительно уменьшили вес, который мы несли на спине — стоит каждого пенни, если вы спросите меня!
    </p>
    <p align="left">
        На одном конце террасы было небольшое укрытие, сделанное из ветвей деревьев, образующих наверху «каркас». Крышу делали из листов черного пластика, а укрытие было открыто со всех сторон. Посередине была яма для костра и несколько бревен вокруг нее для сидения.
    </p>
    <p align="left">
        Хорошо, что лагерь был готов для нас еще до нашего прибытия, так как мы пробыли в лагере всего 10 минут, прежде чем полил дождь! Мы укрылись в маленьком укрытии, пытаясь увернуться от протекающей крыши. Мы просидели здесь несколько часов, разговаривая и надеясь, что облака рассеются и мы сможем увидеть извержения, которые до этого момента могли только слышать.
    </p>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0479-1014x721.jpg.webp"></img>
    </p>
    <p align="center">
        <em>
            Вот такой вид у нас был ночью - потрясающий!!!
        </em>
    </p>
    <p align="left">
        К счастью, когда солнце начало садиться, погода прояснилась, и мы впервые увидели вулкан Фуэго! Мы наблюдали извержение за извержением, и когда стемнело, дым, который мы видели, взрывающийся от Фуэго, стал ярко-красным, поскольку мы могли видеть лаву!
    </p>
    <p align="left">
        В ту ночь мы с Дэном почти не спали, потому что то и дело вылезали из палатки, чтобы понаблюдать за извержениями – это было завораживающе!
    </p>
    <p align="left">
        <b>Восхождение на Акатенанго — День 2 (4:00)</b>
    </p>
    <p align="left">
        Дневной тур начался с будильника в 4 утра. Этот старт в 4 часа утра не является обязательным. По сути, это самая сложная часть всего похода, так как это 1-часовой поход на самую вершину Акатенанго, чтобы полюбоваться восходом солнца.
    </p>
    <p align="left">
        Идти было тяжело, тропа была крутой, а вулканический пепел был подобен свежевыпавшему снегу. Каждый шаг был трудным, и мои легкие теперь могли чувствовать большую высоту. Я еще не добрался до вершины, когда увидел, что горизонт начинает светиться красным. Я бросился в бой и бросился к вершине, боясь пропустить эпический рассвет!
    </p>
    <p align="left">
        Я добрался до вершины Акатенанго (хотя потребовалось еще 5 минут, прежде чем я смог отдышаться, чтобы хотя бы насладиться видом). Небо в то утро было ясным, и от наших видов на окружающий ландшафт захватывало дух.
    </p>
    <p align="left">
        На западе Тихий океан казался краем мира. Нас окружали пять вулканов, а мягкое облако внизу напоминало нам, как высоко мы находимся на самом деле. Фуэго все еще регулярно извергался, и с дополнительным светом извержения превратились в большие столбы темного дыма. Прежде чем исчезнуть в небе, они приняли форму гриба. Это было лучшее место в доме, и в течение следующего часа я наслаждался видом!
    </p>
    <p align="left">
        <b>Возвращение (около 8 утра)</b>
    </p>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0595-1009x721.jpg.webp"></img>
    </p>
    <p align="center">
        <em>
            Подъем крутой, спуск скользкий!
        </em>
    </p>
    <p align="left">
        После восхода солнца все вернулись в лагерь, чтобы собраться и позавтракать.
    </p>
    <p align="left">
        Затем у нас был 2,5-часовой поход обратно тем же путем, которым мы поднялись. Это было быстро, так как все было под гору, наша группа завершила поход менее чем за 2 часа.
    </p>
    <p align="left">
        Как только мы вернулись на дно Акатенанго, наш фургон ждал, чтобы отвезти нас обратно на Антигуа. Вы должны вернуться в свой отель на Антигуа между 12:00 и 13:00.
    </p>
</div>