@page
@model PrivacyModel
@{
    ViewData["Title"] = "Исследование";
    
}

<div class="text-center" style="width:960px; align-content:center; margin-left:160px">
    <br> <br> <br> <br>
    <h class="display-4">Обзор похода на вулкан Акатенанго</h>
    <p></p> 
    <p>
        <img width ="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0463-1009x721.jpg.webp"></img>
    </p>
    <p align="center"><em>
            Вид, который я видела из лагеря вулкана Фуэго, извергающегося во время нашего ночного похода!
        </em>
    </p>
    <p align="left">
        <ul align="left">
            <li>
                Вершина вулкана Акатенаго:  13 044 фута (3976 метров)
            </li>
            <li>
                Набор высоты:  5 253 фута (1600 метров)
            </li>
            <li>
                Расстояние:  всего 8,6 миль (13,8 км)
            </li>
            <li>
                Плата за вход в парк: 50 Q плюс стоимость тура
            </li>
            <li>
                Сложность:  высокая
            </li>
            <li>
                Необходимое время: рекомендуется 2 дня и 1 ночь
            </li>
        </ul>
    </p>
    <p align="left">
        Поход к вулкану Акатенаго — один из лучших пешеходных маршрутов в Гватемале, который начинается недалеко от города Антигуа. Экскурсии начинаются в 9 утра с трансфера до начала тропы. От начала тропы до базового лагеря каждого туроператора можно пройти от 4 до 7 часов вверх по Акатенанго. Отсюда вы проведете ночь, любуясь вулканом Фуэго, который извергается каждые 15-30 минут.
    
    </p>
    <p align="left">
        На следующее утро около 4 утра вы отправитесь в темное время суток на вершину вулкана Акатенанго, чтобы насладиться видами окрестностей. Затем вы вернетесь в базовый лагерь, чтобы собрать свои вещи, прежде чем отправиться обратно в начальную точку. Отсюда вы отправитесь обратно в свой отель на Антигуа. Прибытие на Антигуа между 12 и 14 часами.
    </p>
    <h class="display-4">Вулкан Акатенанго vs вулкан Фуэго</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://vsegda-pomnim.com/uploads/posts/2022-03/thumbs/1647519136_63-vsegda-pomnim-com-p-vulkan-fuego-foto-71.jpg"></img>
    </p>
    <p align="center">
        <em>
            Вулкан Фуэго
        </em>
    </p>
    <p align="left">
        Одна из самых больших путаниц в походе на вулкан Акатенаго — это вулканы. Вулкан, на который вы отправитесь, — это вулкан Акатенаго, спящий вулкан, который не извергался с 1972 года.
    </p>
    <p align="left">
        Акатенанго расположен параллельно вулкану Фуэго, примерно в 2,5 километрах от него, откуда открывается непрерывный вид. На самом деле вулканы связаны между собой, и некоторые люди отправляются на вулкан Фуэго, чтобы поближе познакомиться с ним. Однако это очень опасно!
    </p>
    <p align="left">
        Фуэго — это извергающийся вулкан, извержения которого происходят каждые 15–30 минут, а лава извергается с вершины. Так что, хотя знаменитый поход называется походом к вулкану Акатенаго, главной достопримечательностью является вулкан Фуэго.
    </p>
    <p align="left">
        Пешеходные туры Акатенанго отправляются из города Антигуа в Гватемале и почти всегда проводятся в течение двух дней, когда вы проводите одну ночь в лагере на вулкане Акатенанго с видом на Фуэго. Эти туры, несомненно, являются одним из лучших занятий на Антигуа .
    </p>
    <h class="display-4">Бронирование похода в Акатенанго</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0567.jpg.webp"></img>
    </p>
    <p align="center">
        <em>
            Наша туристическая группа на рассвете на вершине Акатенанго!
        </em>
    </p>
    <p align="left">
        Поход на вулкан Акатенанго лучше всего совершать в рамках организованного тура — без гида это просто небезопасно, а туристы гибнут на тропе.
    </p>
    <p align="left">
        Туры можно забронировать в Антигуа и даже в Гватемала-Сити, когда вы приедете, однако не все туры одинаковы.
    </p>
    <p align="left">
        Некоторые туры предлагают лучшую еду, а некоторые фактически оставляют палатки и коврики в базовом лагере, чтобы туристам не приходилось их нести (чем меньший вес вам нужно нести, тем лучше!) В зависимости от ваших потребностей вы можете решить, что лучше для вас. .
    </p>
    <p align="left">
        Ниже приведены мои рекомендации и тур, который я сделала:
    </p>
    <p align="left">
        Акатенанго 2 День 1 Ночь (тур, который мы сделали) - это классический тур по вулкану Акатенанго с OX Expeditions. Экскурсия стоит 90 долларов США и включает в себя транспорт, англоговорящего гида, бесплатный прокат снаряжения (включая рюкзак, теплую одежду, спальный мешок и многое другое), кофе и чай, вино, завтрак в день тура, обед, ужин, и завтрак в последний день. Вы проведете ночь в уже установленной на горе палатке (очень важно) и у вас будет базовый лагерь с огнем и укрытием. Виды из этого кемпинга потрясающие!
    </p>
    <p align="left">
        Однодневный поход на Акатенанго. Если у вас мало времени, вы можете совершить поход на вулкан Акатенанго за один день. Это длинный день с большим количеством пеших прогулок, так как вы можете пройти весь путь до вершины. Я бы посоветовал это только опытным туристам, у которых мало времени. Поездка с ночевкой намного лучше. Экскурсия включает в себя транспорт, обед и профессионального гида.
    </p>
    <p align="left">
        4×4 Tour — Если вас беспокоит пешая часть этого опыта, теперь вы можете подняться на 4×4 на вершину вместо ходьбы. Это стоит 125 долларов США, но это отличный вариант, если вы не готовы к походу.
    </p>
    <h class="display-4">Погода на походе к вулкану Акатенанго и лучшее время года</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0612.jpg.webp"></img>
    </p>
    <p align="center">
        <em>
            В сезон дождей облака более распространены и могут мешать обзору вулкана Фуэго — нам на самом деле очень повезло!
        </em>
    </p>
    <p align="left">
        В Гватемале есть два основных сезона: сухой сезон (с ноября по апрель) и сезон дождей (с мая по октябрь). Вы можете совершать пешие прогулки к вулкану Акатенанго круглый год, однако погода будет отличаться в зависимости от того, когда вы отправитесь.
    </p>
    <p align="left">
        <b>Сухой сезон (ноябрь-апрель)</b>
    </p>
    <p align="left">
        В сухой сезон виды обычно лучше. Здесь меньше облачности и тумана, что гарантирует вам четкое представление о Фуэго. Также меньше вероятность дождя, а значит, поход будет намного приятнее.
    </p>
    <p align="left">
        Недостатком сухого сезона является то, что он холоднее. С декабря по февраль самые холодные месяцы, поэтому нужно быть готовым к минусовым температурам ночью!
    </p>
    <p align="left">
        <b>Сезон дождей (май-октябрь)</b>
    </p> 
    <p align="left">
        Мы совершили поход к вулкану Акатенанго в сентябре, когда сезон дождей. Сезон дождей часто теплее, но он создает еще несколько проблем с точки зрения подготовки.
    </p>
    <p align="left">
        В первую очередь требовалось непромокаемое снаряжение. У меня был плащ и чехол для рюкзака, а также дополнительная пара одежды, когда мы доберемся до лагеря, чтобы переодеться (вам не захочется застрять в мокрой одежде на всю ночь!). непромокаемый чехол для рюкзака, но я бы также рекомендовал положить дополнительную одежду в полиэтиленовый пакет внутри рюкзака на случай, если туда попадет вода.   
    </p>
    <p align="left">
        В сезон дождей иногда из-за облаков вообще не видно извержения Фуэго. На самом деле, мы говорили с людьми, что им приходилось совершать этот поход дважды, потому что в первый раз они абсолютно ничего не видели! Это то, к чему вы должны быть готовы, отправляясь в поход по Акатенанго в сезон дождей.
    </p>
    <p align="left">
        Когда мы впервые прибыли в базовый лагерь, мы вообще не могли видеть вулкан Фуэго. Но, к счастью для нас, через пару часов облака рассеялись, и всю ночь и на рассвете у нас были хорошие виды.
    </p>
    <h class="display-4">Сколько времени занимает поход на Акатенанго?</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://cdn.getyourguide.com/img/tour/51bb6481e19b4.jpeg/146.jpg"></img>
    </p>
    <p align="center">
        <em>
            Поход не слишком длинный, но и не легкий!
        </em>
    </p>
    <p align="left">
        Большинство людей путешествуют по Акатенанго в течение 2 дней, разделяя сложный поход на ночь, проведенную на вулкане Акатенанго. Это 18-километровый поход туда и обратно с подъемом на высоту более 1500 метров — его нелегко выполнить за один день.
    </p>
    <p align="left">
        Честно говоря, лучшая часть похода к вулкану Акатенанго для меня заключалась в том, чтобы провести там ночь. Наблюдать за извержением Фуэго в темноте намного лучше, чем при свете дня. Днём вы увидите только дым, а ночью увидите лаву!   
    </p> 
    <p align="left">
        При этом Акатеньяо можно пройти пешком за один день. Эти туры гораздо менее популярны, но их можно найти, а также есть высоко оцененный тур, доступный онлайн , который позволит добраться до вершины на полноприводном автомобиле. Они предполагают ранний старт, и вы должны быть в хорошей форме, если планируете подниматься и спускаться за один день.
    </p>
    <p align="left">
        Я лично рекомендую провести ночь (выбирая вариант 2 дня, 1 ночь ), просто чтобы получить весь опыт и позволить себе немного отдохнуть. Конечно, спать в морозной палатке не очень весело, но поверьте, оно того стоит!
    </p>
</div>

