@page
@model СonclusionModel
@{
    ViewData["Title"] = "Выводы и советы";
}


<div class="text-center" style="width:960px; align-content:center; margin-left:160px">
    <br> <br> <br> <br>
    <h class="display-4">Опасен ли поход к вулкану Акатенанго?</h>
    <p></p>
    <p>
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0591.jpg.webp">
    </p>
    <p align="center">
        <em>
            Поход может быть немного схематичным в некоторых частях.
        </em>
    </p>
    <p align="left">
        Это сложный вопрос. Основываясь на недавних событиях — извержении Фуэго в ноябре 2018 года , а также извержении в июне 2018 года , которое унесло много жизней — я чувствую, что должен оставаться «да», короче.
    </p>
    <p align="left">
        Существует определенная степень риска, когда вы находитесь так близко к чрезвычайно активному вулкану. В течение многих лет извержения вулканов Фуэго никогда никому не причиняли вреда, но это природа, и это непредсказуемо, поэтому вы должны осознавать этот риск.
    </p>
    <p align="left">
        При этом нет сообщений о раненых туристах на Акатенанго или о гибели людей в результате каких-либо извержений. Пострадавшие люди были гватемальцами, которые жили на вулкане Фуэго у его подножия.
    </p>
    <p align="left">
        Но в прошлом туристы во время похода на вулкан Акатенанго гибли из-за холода.
    </p>
    <p align="left">
        В сухой сезон ночью становится очень холодно, и люди умирают от переохлаждения. ОЧЕНЬ важно правильно подготовиться и упаковать теплую одежду (и много) в любое время года.
    </p>
    <p align="left">
        Туристические компании, которые доставляют людей к вулкану Акатенанго, в последние годы также стали более серьезно относиться к безопасности. Они скажут вам, что взять с собой, и многие не позволят вам подняться без подходящей одежды (наш гид проверил, что у всех есть шляпа и перчатки, прежде чем мы ушли, и двое парней, у которых их не было, были вынуждены их купить).
    </p>
    <p align="left">
        С каждым годом повышаются стандарты безопасности для туристов, путешествующих пешком по Акатенанго.
    </p>
    <p align="left">
        Самое главное — пройтись по Акатенанго с экскурсоводом. Большинство погибших или раненых на вулкане Акатенанго произошло из-за того, что туристы пытались путешествовать пешком без гида. Некоторые туристические компании также намного лучше, чем другие, поэтому продолжайте читать рекомендации наших туристических компаний, которые не только сделают ваш поход более комфортным, но и более безопасным.
    </p>
    <h class="display-4">Еда в походе по Акатенанго</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0253-1.jpg.webp">
    </p>
    <p align="center">
        <em>
            Едем наш упакованный ланч во время похода в первый день.
        </em>
    </p>
    <p align="left">
        Мы слышали неоднозначные отзывы от людей о еде, предлагаемой в походах с гидом на вулкан Акатенанго. По сути, некоторые туры предлагают больше еды, чем другие.
    </p>
    <p align="left">
        Наш тур предложил приличное количество еды. На старте мы получили полиэтиленовый пакет, в котором было:
    </p>
    <p align="left">
        <ul align="left">
            <li>
                одна маленькая бутылка воды
            </li>
            <li>
                упакованный ужин из кусочка курицы с рисом и салатом и куска хлеба
            </li>
            <li>
                один бутерброд с ветчиной
            </li>
            <li>
                одна чашка лапши быстрого приготовления
            </li>
            <li>
                один банан
            </li>
            <li>
                одна чашка йогурта
            </li>
            <li>
                немного сухого молока и небольшая порция хлопьев
            </li>
            <li>
                одна пачка смеси для горячего шоколада
            </li>
        </ul>
    </p>
    <p align="left">
        Звучит как приличное количество еды на полтора дня, верно? Ну, это на самом деле зависит от вас и от того, сколько вы едите.
    </p>
    <p align="left">
        Когда вы поднимаетесь на такую ​​высоту, вы ОЧЕНЬ проголодаетесь.
    </p>
    <p align="left">
        Мой совет: возьмите с собой дополнительные закуски на всякий случай. Вы будете жаждать шоколада и соли. Наша любимая походная закуска — это батончик «Сникерс», мы взяли с собой пару штук, немного печенья и немного орехов, и нас это вполне устраивало. Другие хорошие идеи, что взять с собой, если вы много едите, — это дополнительные чашки с лапшой быстрого приготовления (гиды с радостью вскипятят для вас горячую воду) и даже кофе на утро.утный перерыв на обед.
    </p>
    <p align="left">
        Всегда лучше взять с собой больше еды, чем вы думаете, вам понадобится, так как в базовом лагере негде купить что-либо.
    </p>
    <p align="left">
        <b>Горячий совет:</b> возьмите с собой несколько плиток шоколада для гидов. Они действительно оценят это!
    </p>
    <h class="display-4">Что взять с собой в поход по Акатенанго</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0309.jpg.webp">
    </p>
    <p align="center">
        <em>
            Хорошая теплая одежда обязательна!
        </em>
    </p>
    <p align="left">
        Единственное, что вам нужно будет уточнить у вашей туристической компании, это нужно ли вам нести свою палатку и спальный мешок на вершину или нет. Многие туристические компании оставляют все установленным в базовом лагере, а некоторые нет.
    </p>
    <p align="left">
        Если вам нужно взять с собой спальный мешок и палатку, возьмите с собой большой рюкзак (50 литров или больше), чтобы вместить все необходимое.
    </p>
    <p align="left">
        Однако, если нет, подумайте о том, чтобы взять с собой небольшой рюкзак, если вы можете вместить необходимую одежду и еду.
    </p>
    <p align="left">
        Если вы также беспокоитесь о сложности похода, я рекомендую пойти с компанией, которая несет для вас снаряжение, так как меньший вес на больших высотах будет спасением!
    </p>
    <p align="left">
        В базовом лагере на Акатенанго всегда холодно, а на вершине еще холоднее на рассвете. Возьмите с собой как можно больше теплой одежды. Перчатки необходимы, а также шапочка. Я первым делом утром надел две пары штанов и все еще мерз! Будьте готовы к холоду, мы слышали истории о том, что люди берут с собой только шорты — не очень умная идея.
    </p>
    <p align="left">
        Теплую одежду можно дешево купить на рынке подержанной одежды в Антигуа, или на базе похода можно взять напрокат шапочки и перчатки всего за 1 доллар США (они включены в наш тур).
    </p>
    <p align="left">
        Вот подробный список вещей для похода в Акатенанго:
    </p>
    <p align="left">
        <ul align="left">
            <li>
                дополнительная смена теплой одежды (не помешает пара дополнительных пар носков)
            </li>
            <li>
                плащ
            </li>
            <li>
                дождевик для рюкзака
            </li>
            <li>
                дополнительные закуски
            </li>
            <li>
                деньги на входной билет (50Q) и чаевые гидам
            </li>
            <li>
                перчатки и шапка
            </li>
            <li>
                4 литра воды
            </li>
            <li>
                немного алкоголя (если вы думаете, что захотите выпить во время просмотра потрясающего шоу, которое Фуэго устраивает вечером)
            </li>
            <li>
                шляпа
            <li>
                перчатки и шапка
            </li>
            <li>
                4 литра воды
            </li>
            <li>
                солнцезащитные Очки
                </li>
            <li>
                камера и штатив для ночных снимков!
            </li>
            <li>
                зефир (за поджаривание у костра спасибо скажешь!)
            </li>
            <li>
                трость (также можно взять напрокат на базе Акатенанго менее чем за 1 доллар США и будет очень полезна, когда вы карабкаетесь по рыхлым скалам, скользящим повсюду)
            </li>
        </ul>
    </p>
    <h class="display-4">Другие советы для похода на вулкан Акатенанго</h>
    <p align="left">
        <ul align="left">
            <li>
                <b>Возьмите трость и не забудьте взять ее с собой в поход на второй день на вершину.</b> Поход может быть крутым и скользким, и палка мне здорово помогла!
            </li>
            <li>
                <b>Марально подготовьтесь к двум удивительным, но сложным дням.</b> Честно говоря, я не думал, что поход был таким трудным, как говорят некоторые люди, но я также ожидал худшего.
            </li>
            <li>
                <b>Забронируйте себе удобную кровать на Антигуа до и после похода.</b> Побольше отдохните перед уходом и дайте себе время отдохнуть, когда вернетесь.
            </li>
            <li>
                <b>Бюджет для отличной еды, когда вы вернетесь из похода.</b> В Антигуа есть вся западная еда, включая пиццу Little Cesar's, Wendy's, Dunkin' Donuts, Taco Bell и многое другое. Когда вы вернетесь на Антигуа, вам не захочется ничего, кроме самой жирной еды, и вы только что гуляли в течение двух дней, так что вы это заслужили!
            </li>
            <li>
                <b>Не забывайте давать чаевые своим гидам.</b> Их заработная плата недостаточно высока для того, что они делают, и если каждый дает им пару долларов, это их сильно выручает.
            </li>
            
        </ul>
    </p>
    <h class="display-4">Перед тем, как ты уйдешь…</h>
    <p></p>
    <p align="left">
        <img width="960" height="600" src="https://destinationlesstravel.com/wp-content/uploads/2020/07/DSC_0231.jpg.webp">
    </p>
    <p align="center">
        <em>
            Спасибо, что прочел мой блог, и я надеюсь, вам понравился поход!
        </em>
    </p>
    <p align="left">
        Это подводит итог нашему путеводителю по походу на вулкан Акатенанго. Честно говоря, это было одно из лучших наших мероприятий в Центральной Америке, и я очень рекомендую его.
    </p>
    <p align="left">
        Мы надеемся, что вам понравился этот пост, и, прежде всего, наслаждайтесь походом! Пожалуйста, дайте нам знать в <a asp-area="Identity" asp-page="/Account/CreateRoom">комментариях</a>, если вы нашли этот пост полезным, или если у вас есть какие-либо вопросы, мы свяжемся с вами!
    </p>
</div>